<!-- ======= Barra de navegaci贸n principal ======= -->
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #F6D155;">
  <div class="container-fluid">

    <!-- ======= Logo y nombre ======= -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/img/logo.png" class="me-2 img-fluid" alt="Escudo" id="logoNav">
      <span class="fw-bold fs-1">CAADI</span>
    </a>

    <!-- ======= Bot贸n hamburguesa (modo m贸vil) ======= -->
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
      style="background-color: #003366;">
      <span class="navbar-toggler-icon" id="iconoHamburguesa"></span>
    </button>

    <!-- ======= Contenedor colapsable de navegaci贸n ======= -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex justify-content-between w-100">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active fs-5" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fst-italic fs-5" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
